
whoami   -> 200
status   -> 000
tools    -> 200
mail-web -> 000
dozzle   -> 000
db-ui    -> 000

#Pasul 6 
- Am mutat containerul whoami pe altă adresă IP.
- Am primit imediat eroarea 502 .
- Nginx a reținut vechea adresă IP de la pornire și nu știa că aplicația s-a mutat.
- Și-a revenit după ce i-am dat comanda de reload.

#Pasul 7
- Am adugat un resolver și o variabilă în vhost.conf.
- Când containerul s-a mutat pe alt IP, Nginx s-a uitat singur la adresa nouă după câteva secunde.
- Rezultat: S-a reparat singur și a revenit la starea de funcționare (cod 200), fără restart sau reload manual.


